
 <div class="content-wrapper">
	<div class="content-holder">
		<div class="title-holder">
			<span class="title">{{pageToBuild}} </span><span class="coming-soon">Coming Soon</span>
		</div>
	</div>
</div>
<a href="#/login" class="logout" id="textBtn" ng-click="logout()" >logout</a>

<!--<div class="content-wrapper">
	<div class="content-holder">
		<div role="datagrid" class="grid-holder" ng-controller="HomeCtrl">
			<div class="title-holder">
				<span class="title">Notifications</span>
			</div>
    		<jqx-grid jqx-settings="gridSettings" jqx-alt-rows="true"></jqx-grid> 
		</div>
	</div>
</div>

<script>
	function logout(){

		$('#CC-masthead').animate({'opacity' : 0}, 200, function(){
			$(this).css({'display' : 'none'});
			$('#CC-login').css({'display' : 'block'});
			$('#CC-login').animate({'opacity' : 1}, 200, function(){
		 	});
		 });
	}
</script>

           -->  
