
<div role="mashead">
    <div role="utilities">
        <ul>
            <li><a href="#/login" class="logout" id="textBtn" ng-click="logout()" >Logout</a></li>
            <li><span class="notification">{{numberNotification}}</span> Notifications</li>
            <li>Welcome <a href="#" id="username">{{usernameScope}}</a></li>
        </ul>
    </div>
    <div class="CC-title"></div>
        <div ng-show="hasPermission('menu:edit:simplesearch')" id="quicksearchWrapper" role="quicksearch">
		<form name="form" ng-submit="login(credentials)" role="form">
     		<!-- <label for="username"  class="search-label">Quick Search</label> -->
			<input class="k-textbox" style="width: 200px" id="quicksearch" type="text" name="quicksearch" placeholder="Quick Search">
            <span class="search-btn"><a href="" ></a></span>
		</form>
	</div>
</div>
<ul kendo-menu id="mainMenu" k-data-source="menuWithPermissions" k-on-open="onOpen(kendoEvent)"  k-on-select="onSelect(kendoEvent)" k-on-close="onClose(kendEvent)"></ul>
