<div id="caseSummaryHolder">
	<div class="title-holder">
		<span class="title">Case Summary</span>
	</div>
	<div role="caseInfo" id="info-holder" >

	<!-- CASE INFO ////////////////////////////////////////// -->
		<div class="title-small" style="padding-bottom:10px">Case Info:</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Case Status:</span> <span>ACTIVE</span>
				</li>
				<li>
					<span>Case Type:</span> <span>Endangered Runaway (ERU)</span>
				</li>
				<li>
					<span>Case Media Status:</span> <span>Not Media-Ready</span>
				</li>
				<li>
					<span>Review Category:</span> <span>N</span>
				</li>
				
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Total # of Children:</span> <span>1</span>
				</li>
				<li>
					<span>Total # of CSAW:</span> <span>1</span>
				</li>
				<li>
					<span>Total # of P/Gs:</span> <span>1</span>
				</li>
				<li>
					<span>Next Review Date:</span> <span>05/29/2015</span>
				</li>
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Assig. Case Manager:</span> <span> </span>
				</li>
				<li>
					<span>Related Cases:</span> <span> </span>
				</li>

				
			</ul>
		</div>
		<div class="hr-sep"></div>

	<!-- RFS INFO ////////////////////////////////////////// -->
		<div class="title-small" style="padding-bottom:10px">RFS Info:</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Intake #:</span> <span>R-231</span>
				</li>
				<li>
					<span>Missing Date/Time:</span> <span>05/17/2015</span>
				</li>
				<li>
					<span>Missing Address:</span> <span>305 Queen St. Cincinnati, OH 45201</span>
				</li>
				<li>
					<span>Intake Date:</span> <span>05/18/2015</span>
				</li>
				
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Reporter Relationship:</span> <span>Parent</span>
				</li>
				<li>
					<span>Reporter Name:</span> <span>Cindy Jones</span>
				</li>
				<li>
					<span>Source:</span> <span>Call</span>
				</li>
				<li>
					<span>Referred By:</span> <span></span>
				</li>
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Number of Leads:</span> <span>0</span>
				</li>
				<li>
					<span>Number of TAs:</span> <span>1 (Active)</span>
				</li>
				<li>
					<span>Number of Cybertips:</span> <span>0</span>
				</li>
				
			</ul>
		</div>

		<div class="hr-sep"></div>
		<!-- LEA INFO ////////////////////////////////////////// -->
		<div class="title-small" style="padding-bottom:10px">LEA Info:</div>
		<div class="col-module">
			<ul>
				<li>
					<span>Agency Name:</span> <span>Cincinnati Police Dept.</span>
				</li>
				<li>
					<span>Assigned Officer:</span> <span>Officer Bishop</span>
				</li>	
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>LEA OCA:</span> <span>15TR06231</span>
				</li>
			
			</ul>
		</div>
		<div class="col-module">
			<ul>
				<li>
					<span>LEA ORI:</span> <span>OH67000021</span>
				</li>
				
			</ul>
		</div>
	</div>
</div>
