<div id="caseMenuHolder">
	<ul kendo-panel-bar k-options="caseMenuOptions" id="caseMenu">
		<li>
			Case Summary
		</li>
		<li>
			RFSes
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			LEA
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			Vehicles
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			Events
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			Activities
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			Documents
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			Reports
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li>
			History
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
	</ul>
</div>
