<div id="caseMenuHolder" role="caseMenu">
	<ul kendo-panel-bar k-options="caseMenuOptions" k-rebind="caseMenuOptions"  k-ng-delay="caseMenuOptions"  id="caseMenu">
		<li id="caseSummary">
			Case Summary
		</li>
		<li id="RFSes">
			RFSes
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="LEA">
			LEA
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="Vehicles">
			Vehicles
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="Events">
			Events
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="Activities">
			Activities
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="Documents">
			Documents
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="Reports">
			Reports
			<ul>
				<li>Submenu...</li>
				<li>Submenu...</li>
				<li>Submenu...</li>
			</ul>
		</li>
		<li id="History">
			History
			
		</li>
	</ul>
</div>
