<div id="caseSummaryHolder">
	<div class="title-holder">
		<span class="title">Case Summary</span>
	</div>

	<div id="info-holder">
			<ul>
				<li>
					Case Status: <span>ACTIVE</span>
				</li>
				<li>
					Case Type: <span>Lost, Injured, Missing (LIM)</span>
				</li>

				<li>
					Media Status: <span>CERTIFIED</span>
				</li>
				
			</ul>
	</div>
</div>

<style type="text/css">
	#caseSummaryHolder{
		text-align: left;
		width: 100%;
		padding: 20px  0 0 0;
		border: 1px solid red;
	}

	#info-holder{
		background-color: #f1f6fb;
		border: 1px solid #a7b7c4;
		margin-left:250px;
		margin-right:auto;
		padding:20px;
/*		position: relative;
		left: 250px;*/
		width: 1250px;
	}
</style>