
<div class="case-header-info" role="caseHeader">
	<ul>
		<!-- <li>
			Case #: <span>123567</span>
		</li> -->
		<li>
			Case Status: <span>ACTIVE</span>
		</li>
		<li>
			Case Type: <span>Endangered Runaway (ERU)</span>
		</li>
		<li>
			Police Report: <span>YES</span>
		</li>
		<li>
			Media Status: <span>Not Media-Ready</span>
		</li>
		<li>
			Incident Date: <span>10/1/2013</span>
		</li>
		<li>
			<span style="color:red">Active Amber Alert (<span style="font-size: 0.9em; color:red">Critical, Confidential</span>)</span>
		</li>
	</ul>
</div>
