
<div class="case-header-info" role="caseHeader">
	<ul>
		<!-- <li>
			Case #: <span>123567</span>
		</li> -->
		<li>
			Case Status: <span>ACTIVE</span>
		</li>
		<li>
			Case Type: <span>Lost, Injured, Missing (LIM)</span>
		</li>
		<li>
			Police Report: <span>YES</span>
		</li>
		<li>
			Media Status: <span>CERTIFIED</span>
		</li>
		<li>
			Incident Date: <span>10/1/2013</span>
		</li>
		<li>
			<span style="color:red">Active Amber Alert (<span style="font-size: 0.9em; color:red">Critical, Confidential</span>)</span>
		</li>
	</ul>
</div>

<div class="full-width-row">
	<ul>
		<li id="lessBtn" class="linkButton toLess" style="font-size: 1em; width: 5% float:right"><a href="" ng-click="toggleHeader()" >Less</a></li>
		<li id="moreBtn" class="linkButton toMore" style="font-size: 1em; width: 5% float:right"><a href=""  ng-click="toggleHeader()" >More</a></li>
		<li class="h-sep"></li>
	</ul>
</div>

<div id="caseHeaderInfo" class="case-header-info" style="padding:0" >
	<ul>
		<li style="width:300px"><img src="assets/images/sample1.jpg" style="float:left; padding-right:10px"></img>
			<span style="float:left; padding:0" class="title-small"> Thomas Riviera</span><br>
			<span style="float:left; color:#434a50;font-size: 0.9em" class="baseText">DOB: May 13 2001   </span><br>
		</li>
		<li style="width:300px"><img src="assets/images/sample2.jpg" style="float:left; padding-right:10px"></img>
			<span style="float:left; padding:0" class="title-small"> Tony Riviera</span><br>
			<span style="float:left; color:#434a50;font-size: 0.9em" class="baseText">DOB: Nov. 15 1999   </span><br>
		</li>
	</ui>
</div>

