
<div  ng-show="hasPermission('caseadmin:view:basic')" class="content-wrapper">
	<div class="content-holder" ng-controller="AssignCMCtrl">
		<div class="title-holder">
			<span class="title">Assign Case Manager</span>
		</div>
		<!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="reloadData()" role="form" >
				<div class="filter-row-holder" style="padding-top:20px">
					<ul>
						<li style="width: 220px" ng-init="isUnassignedCases=0">
						 	<input type="radio" style="float: left; margin:6px" name="isUnassignedCases" ng-model="isUnassignedCases" ng-change="handleRadioSelection(isUnassignedCases)"  value="0" id="bydate"/>
						 	<label for="bydate">Received Date Range</label>
						</li>
						<li style="padding-right: 0px">
							<label >From:</label> 
							<input kendo-date-picker id="startingDate" k-max={{today}} k-on-change="enableSumbitBtn()" k-ng-model="startingDate" ng-disabled="datePickerDisable" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<label  >To:</label> 
							<input kendo-date-picker id="endingDate" k-max={{today}} ng-disabled="datePickerDisable"  k-on-change="enableSumbitBtn()"  k-ng-model="endingDate"  style="width: 180px"/>
						</li>
					</ul>
				</div>
				<div class="filter-row-holder" >
					<ul>
						<li style="width: 597px">
							<input type="radio"  style="float: left; margin:6px" name="isUnassignedCases" value="1" ng-model="isUnassignedCases" ng-change="handleRadioSelection(isUnassignedCases)" id="unassignedcases"/>
							<label for="unassignedcases">All Unassigned Cases</label>
						</li>
						<li  class="submit-btn">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT
                			</kendo-button>
						</li>
					</ul>
				</div>
			</form>
		</div>
	<!-- DAILY ASSIGNMENT WORKSHEET /////////////////////////////////////////////////////////////////-->
		<div class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul>
				<li class="linkButton daws"><a href="" ng-click="daws.center().open()">Daily Assignment Worksheet</a>
				</li>
			</ul>
		</div>

		 <div id="dawsid" kendo-window="daws" k-options="dawsOptions" style="text-align: center">
		 	<div class="large-window-title ">
				<span class="title-reduced" >Daily Assignment Worksheet for:</span>
				<span class="date-title-large">{{todayDate}}</span>
			</div>
			
			<kendo-grid k-options="dawsGridOptions" k-rebind="dawsGridOptions" id="grid"  k-ng-delay="dawsGridOptions" k-on-save="trackChanges(kendoEvent)">
			</kendo-grid >

			<div ng-show="hasPermission('caseadmin:edit:assignws')" class="bottom-window">
				<ul>
					<li  class="submit-btn">
                		<kendo-button class="k-button" ng-click="saveAndCloseScheduleUpdates()">SAVE & CLOSE</kendo-button>
					</li>	
					<li  class="submit-btn">
                		<kendo-button class="k-button" ng-click="saveScheduleUpdates()">SAVE</kendo-button>
					</li>
					<li  class="submit-btn">
                		<kendo-button  class="k-button"  ng-click="daws.close()">CANCEL</kendo-button>
					</li>	
        		</ul>
			</div>	
		</div>
        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div id="datagrid" role="datagrid" class="grid-holder" >
			<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
			</kendo-grid >
		</div>
	</div>
</div>

<div ng-show="!hasPermission('caseadmin:view:basic')" class="content-wrapper">
	 You do not have permission to view this page. Please check with administrator
</div>

<!--  GRID DETAIL TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="detail-template" type="text/x-kendo-template" >
	<div class="spacer" style="height: 10px"><br></div>
	<detail-row></detail-row>
</script>

<!--  NARRATIVE ROW TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="row-template" type="text/x-kendo-template" >

	<div id="detailRowTest">
		<ul data-uid="#: uid #" class="row-detail-info" >
			<li class="name" >Narrative Type: <span>#: narrativeType#</span></li>
			<li >Author:  <span>#: narrativeAuthor#</span> </li>
			<li >Narrative Date:  <span>#: narrativeDate#</span></li>
		</ul>
	</div>
	
	<textarea  class="narrative-text-box" readonly >#: narrativeText#</textarea >
</script>
