
<div class="content-wrapper">
	<div class="content-holder" ng-controller="AssignCMCtrl">
		<div class="title-holder">
			<span class="title">Assign Case Manager</span>
		</div>
        <!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="changeDateRange()" role="form">
        		<div class="filter-row-holder">
        			<ul>
        				<li class=" title-small" style="width: 320px">
        					Select an other received date range:
        				</li>
        				<li style="padding-right: 0px">
							<span class="labelText-small" >From:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="startingDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >to:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="endingDate"  style="width: 180px"/>
						</li>
						<li  class="submit-btn">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
        			</ul>
        		</div>
        	</form>
        </div>
		<!-- DAILY ASSIGNMENT WORKSHEET /////////////////////////////////////////////////////////////////-->
      	<div class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<ul>
				<li class="linkButton toPDF"><a href=""  ng-click="">Daily assignment worksheet</a></li>
			</ul>
		</div>
        
        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div role="datagrid" class="grid-holder" >
			<div>
				<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
				</kendo-grid >
			</div>  
		</div>
	</div>
</div>

<!--  GRID DETAIL /////////////////////////////////////////////////////////////////-->
<script id="detail-template" type="text/x-kendo-template >

	<div class="spacer" style="height: 10px"><br></div>
	<detail-row></detail-row>
	
</script>

 
