
<div authorized class="content-wrapper">
	<div class="content-holder" ng-controller="MainCaseAdminCtrl">
		<div class="title-holder">
			<span class="title">Case Administration</span>
		</div>
        <!-- DATE RANGE /////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="submitSearch()" role="form">
        		<div class="filter-row-holder">
        			<ul>
        				<li class=" title-small" style="width: 320px">
        					Select an other received date range:
        				</li>
        				<li style="padding-right: 0px">
							<span class="labelText-small" >From:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="startDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >to:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="endDate"  style="width: 180px"/>
						</li>
        			</ul>
        		</div>
				<div class="filter-row-holder">
					<ul >
						<li style="width: 200px">
                			<span class="labelText-small" >RFS/Case:</span>
        					<select  style="width: 190px" kendo-multi-select k-ng-delay="rcTypeDataSource" ng-model="casesearch.rcType" k-placeholder="'Select Type'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rcTypeDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li> 
                		<li style="width: 22%">
                			<span  class="labelText-small" >RFS/Case Source:</span>
        					<select kendo-multi-select k-ng-delay="rcSourceDataSource" ng-model="casesearch.rcSource" k-placeholder="'Select Source'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rcSourceDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li>

                		<li style="width: 22%">
							<span class="labelText-small">RFS/Case Status:</span>
        					<select kendo-multi-select k-ng-delay="rcStatusDataSource" ng-model="casesearch.rcStatus" k-placeholder="'Select Status'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rcStatusDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li>
                		<li  class="submit-btn" style="padding-top:20px">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>
		<!-- DATA GRIG /////////////////////////////////////////////////////////////////-->
      	<div class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul>
				<li class="linkButton toEmail"><a href=""  ng-click="" >Email</a></li>
				<li class="linkButton toPrint"><a href=""  ng-click="" >Print</a></li>
				<li class="linkButton toPDF"><a href=""  ng-click="">Export to PDF</a></li>
			</ul>
		</div>
        
		<div role="datagrid" class="grid-holder" >
			<div>
				<div kendo-grid="mainGrid" id="grid" k-options="mainGridOptions" k-rebind="mainGridOptions"  k-ng-delay="mainGridOptions" ></div>
			</div>  
		</div>
	</div>
</div>


