
<div authorized ng-show="hasPermission('caseadmin:view:basic')" class="content-wrapper">
	<div class="content-holder" ng-controller="MainCaseAdminCtrl">
		<div class="title-holder">
			<span class="title">Case Administration</span>
		</div>
        <!-- DATE RANGE /////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="submitSearch()" role="form">
        		<div class="filter-row-holder">
        			<ul>
        				<li class=" title-small" style="width: 320px">
        					Select an other received date range:
        				</li>
        				<li style="padding-right: 0px">
							<span class="labelText-small" >From:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="startDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >to:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="endDate"  style="width: 180px"/>
						</li>
        			</ul>
        		</div>
				<div class="filter-row-holder">
					<ul >
						<li style="width: 170px">
                			<span class="labelText-small" >RFS Type:</span>
        					<select kendo-drop-down-list style="width: 160px" k-ng-delay="rfsPrimaryTypeDataSource" ng-model="searchCriteria.rfsPrimaryType" k-placeholder="'Select Type'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rfsPrimaryTypeDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li> 

                		<li style="width: 170px">
							<span class="labelText-small">RFS Status:</span>
        					<select kendo-drop-down-list style="width: 160px" k-ng-delay="rfsStatusDataSource" ng-model="searchCriteria.rfsStatus" k-placeholder="'Select Status'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rfsStatusDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li>

                		<li style="width: 310px">
                			<span  class="labelText-small" >RFS Source:</span>
        					<select kendo-drop-down-list style="width: 310px" k-ng-delay="rfsSourceDataSource" ng-model="searchCriteria.rfsSource" k-placeholder="'Select Source'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rfsSourceDataSource" k-on-change="enableSumbitBtn()" ></select>
                		</li>

                		<li  class="submit-btn" style="padding-top:20px">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>
		<!-- DATA GRIG /////////////////////////////////////////////////////////////////-->
      	<div class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul ng-show="hasPermission('caseadmin:edit:main')" >
				<li class="linkButton toEmail"><a href=""  ng-click="openEmailWindow()" >Email</a></li>
				<li class="linkButton toPrint"><a href=""  ng-click="" >Print</a></li>
				<li class="linkButton toPDF"><a href=""  ng-click="">Export</a></li>
			</ul>
		</div>
        
		<div role="datagrid" class="grid-holder" >
			<div>
				<div kendo-grid="mainGrid" id="grid" k-options="mainGridOptions" k-rebind="mainGridOptions"  k-ng-delay="mainGridOptions" ></div>
			</div>  
		</div>

		<!-- EMAIL WINDOW  /////////////////////////////////////////////////////////////////-->
		 <div kendo-window="emailWindow" k-options="emailWindowOptions" >
		 	<span class="title-small full-width" style="width: 90%; padding-left:15px">Please provide email info:</span>

		 	<form name="customEmail" role="form">

		 		<div class="filter-holder" style="margin: 0 10px 0px 15px; padding:20px; width: 500px">
		 			<ul style="float:left">
		 				<li>
		 					<span class="labelClass" style="width: 130px">Enter Recipient(s):</span>
		 					<input class="k-textbox" style="width: 200px" id="quicksearch" type="text" name="recipients">
            							<span class="search-btn"  style="float:left"><a href="" ></a></span>
            							<input   id="includeMyself" type="checkbox" name="copyMyself" style="float:left; margin-top:7px">
            							<label  class="labelClass"  for="includeMyself"> Copy Myself</label>
            						</li>
            						<li >
		 					<span  class="labelClass" style="width: 130px" >Subject Text:</span>
		 					<input class="k-textbox" style="width: 200px" id="" type="text" name="">
            						</li>
            						<li >
		 					<span class="labelClass" style="width: 130px">Body Text:</span>
		 					<textarea class="k-textbox" style="width: 350px; max-width: 350px; min-width:350px" id="" type="text" name=""></textarea>
            						</li>
            						<li >
		 					<span class="labelClass" style="width: 130px">Attachement(s):</span>
		 					<span class="linkButton toXLS" style="padding-top:6px"><a  href=""  >{{Placeholder}}*</a></span>
            						</li>
            					</ul>

		 		</div>
		 		<span class="captionText" style="padding-left:15px">*Click to preview</span>
				<div class="bottom-window" style="padding: 0px 10px 0px 0">
					<ul>
						<li  class="submit-btn">
                						<kendo-button class="k-button" ng-click="sendEmail()">SEND</kendo-button>
						</li>
						<li  class="submit-btn">
                						<kendo-button  class="k-button"  ng-click="emailWindow.close()">CANCEL</kendo-button>
						</li>	
        					</ul>
				</div>	
			</form>
		</div>
	</div>
</div>

<!-- HANDLING PERMISSIONS  /////////////////////////////////////////////////////////////////-->
<div ng-show="!hasPermission('caseadmin:view:basic')" class="content-wrapper">
	 You do not have permission to view this page. Please check with administrator
</div>

