
	<div class="gridDetail" ></div>


	<!-- NARRATIVE WIHT GRID -->
	<div class="gridNarrative" ></div>

	<!-- NARRATIVE WIHT TEXT  BOX -->
    	<!-- <div class="text-box" readonly><span>{{narrativeText}}</span></div> -->
	
	<div style="width: 100%, text-align: left, heigth: 15px" class="detail-bottom">
		<form id="assignform" >
	   
		<ul>
			<li>
				<kendo-button  ng-model="button" class="k-button" ng-click="assignCM()" id="submitButton">SUBMIT</kendo-button>
			</li>
			<li>
				<select ng-model="assignCM.caseManager" id="caseManagers"></select>
			</li>

			<li>
				<select kendo-drop-down-list  style="width: 200px"  id="caseGroups">
				</select>

			</li>
		</ul>
		
		</form>
	</div> 