
<div class="content-wrapper">
	<div class="content-holder" ng-controller="IntakeDistributionCtrl">
		<div class="title-holder">
			<span class="title">Intake Distribution</span>
		</div>

	<!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="submitSearch()" role="form">
				<div class="filter-row-holder">
					<ul>
						<li class="title-small" style="width: 320px">
							Select an other intake date range:
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >From:</span> 
							<input id="startingDate" kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="caseCreateStartDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<span id="endingDate" class="labelText-small" >to:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="caseCreateEndDate"  style="width: 180px"/>
						</li>
					</ul>
        				</div>

        				<!--  SEARCH OPTIONS ///////////////////////////////////////////////////////////////////////////////-->
				<div class="filter-row-holder">
					<ul >
						<li style="width: 200px">
							<span class="labelText-small" >Police Report:</span>
							<select kendo-drop-down-list style="width: 200px"  k-ng-delay="caseHasPoliceReportDataSource" ng-model="casesearch.caseHasPoliceReport" k-placeholder="'Select Police Report'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="caseHasPoliceReportDataSource" k-on-change="enableSumbitBtn()"></select>
						</li> 
                		<li style="width: 150px">
                			<span  class="labelText-small" >Distributed To:</span>
        					<select kendo-drop-down-list style="width: 150px" k-ng-delay="caseDistributedToDataSource" ng-model="casesearch.caseDistributedTo" k-placeholder="'Select Status'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="caseDistributedToDataSource" k-on-change="enableSumbitBtn()"></select>
						</li>
                		<li style="width: 300px">
							<span class="labelText-small">Distributed Status:</span>
        					<select kendo-drop-down-list style="width: 300px" k-ng-delay="caseDistributedToDataSource" ng-model="casesearch.caseDistributedStatus" k-placeholder="'Select Recipient'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="caseDistributedStatusDataSource" k-on-change="enableSumbitBtn()"> </select>
                		</li>


                		<li  class="submit-btn" style="padding-top:20px">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>

	<!-- DISTRIBUTE INTAKES  /////////////////////////////////////////////////////////////////-->
		<div  class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul ng-show="hasPermission('caseadmin:edit:intakedistribution')">
				<li class="linkButton toPrint" style="opacity: 0.5"><a>Print Labels</a></li>
				<li class="linkButton"><img src="assets/images/darkPipe.png" ></li>
				<li class="linkButton toEmail"><a href=""  ng-click="confirmEmail()" >Custom Email</a></li>
				<li class="linkButton teamHope"><a href=""  ng-click="confirmTeamHope()">Team Hope</a></li>
				<li class="linkButton clearinghouse"><a href="" id="clearinghouse" ng-click="confirmClearinghouse()">Clearinghouses</a></li>
				<li class="linkButton">Mass Distribution Target:</li>
			</ul>
		</div>
		<!-- CONFIRM MESSAGES  /////////////////////////////////////////////////////////////////-->
		 <div kendo-window="confirmMessage" k-options="confirmMessageOptions" style="text-align: center">
		 	<div class="large-window-title ">
				<span class="title-small full-width" >Please confirm you want to distribute</span>
				<span class="title-small" style="color:#0473df" >{{numCases}}</span><span class="title-small" >{{recipient}}</span>
			</div>
			<div class="bottom-window">
				<ul>
					<li  class="submit-btn">
                		<kendo-button class="k-button" ng-click="confirmMessage.close()">SEND</kendo-button>
					</li>
					<li  class="submit-btn">
                		<kendo-button  class="k-button"  ng-click="confirmMessage.close()">CANCEL</kendo-button>
					</li>	
        		</ul>
			</div>	
		</div>

		<!-- PDF PREVIEW  /////////////////////////////////////////////////////////////////-->
		 <div kendo-window="PDFPreview" k-options="PDFPreviewOptions" style="text-align: center">
		 	
			<embed src="http://www.jablonski.info/pdfSample.pdf" width="100%" height="100%" type='application/pdf'></embed>
		</div>

        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div role="datagrid" class="grid-holder" >
			<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
			</kendo-grid >
		</div>
	</div>
</div>

<!--  GRID DETAIL TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="detail-template-Int-Dist" type="text/x-kendo-template" >
	
	<div class="gridDetail-wrapper">
		<div class="gridDetail-center"></div>
	</div>
</script>

