
<div class="content-wrapper">
	<div class="content-holder" ng-controller="IntakeDistributionCtrl">
		<div class="title-holder">
			<span class="title">Intake Distribution</span>
		</div>
	<!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="submitSearch()" role="form">
				<div class="filter-row-holder" style="padding-top:20px">
					<ul>
						<li style="width: 185px; padding-top:0">
							<label >Intake Date Range:</label>
						</li>
						<li style="padding-right: 0px">
							<label >From:</label> 
							<input id="startingDate" kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="startingDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<label>To:</label> 
							<input id="endingDate" kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="endingDate"  style="width: 180px"/>
						</li>
					</ul>
        		</div>
	<!--  SEARCH OPTIONS ////////////////////////////////////////////////////////////////////////////-->
				<div class="filter-row-holder">
					<ul >
						<li style="width: 213px">
							<label >Police Report:</label>
							<select kendo-drop-down-list style="width: 200px"  k-ng-delay="frmSrchCaseHasPoliceReportDataSource" ng-model="casesearch.frmSrchCaseHasPoliceReport" k-placeholder="'Select Police Report'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseHasPoliceReportDataSource" k-on-change="enableSumbitBtn()"></select>
						</li> 
                		<li style="width: 213px">
                			<label  >Distributed To:</label>
        					<select kendo-drop-down-list style="width: 200px" k-ng-delay="frmSrchCaseDistributedToDataSource" ng-model="casesearch.frmSrchCaseDistributedTo" k-placeholder="'Select Status'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseDistributedToDataSource" k-on-change="enableSumbitBtn()"></select>
						</li>
                		<li style="width: 213px">
							<label >Distributed Status:</label>
        					<select kendo-drop-down-list style="width: 200px" k-ng-delay="frmSrchCaseDistributedStatusDataSource" ng-model="casesearch.frmSrchCaseDistributedStatus" k-placeholder="'Select Recipient'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseDistributedStatusDataSource" k-on-change="enableSumbitBtn()"> </select>
                		</li>
                		<li  class="submit-btn" style="padding-top:25px">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>
	<!-- DISTRIBUTE INTAKES  /////////////////////////////////////////////////////////////////-->
		<div  class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul ng-show="hasPermission('caseadmin:edit:intakedistribution')">
				<li class="linkButton toPrint"><a class="linkButtonDisabled">Print Labels</a></li>
				<li class="linkButton"><img src="assets/images/darkPipe.png" ></li>
				<li class="linkButton toEmail"><a href="" ng-class="buttonDisabledClass" ng-click="confirmEmail()" >Custom Email</a>
				<li class="linkButton"><img src="assets/images/darkPipe.png" ></li></li>
				<li class="linkButton teamHope"><a href=""  ng-class="buttonDisabledClass" ng-click="confirmTeamHope()">Send to Team Hope</a></li>
				<li class="linkButton clearinghouse"><a href="" ng-class="buttonDisabledClass" id="clearinghouse" ng-click="confirmClearinghouse()">Send to Clearinghouses</a></li>
				
			</ul>
		</div>
		<!-- CONFIRM MESSAGES  /////////////////////////////////////////////////////////////////-->
		 <div kendo-window="confirmMessage" k-options="confirmMessageOptions" style="text-align: center">
		 	<div class="large-window-title ">
				<span class="title-small full-width" >Please confirm you want to distribute</span>
				<span class="title-small" style="color:#0473df" >{{numCases}}</span><span class="title-small" >{{recipient}}</span>
			</div>
			<div class="bottom-window">
				<ul>
					<li  class="submit-btn">
                		<kendo-button class="k-button" ng-click="confirmMessage.close()">SEND</kendo-button>
					</li>
					<li  class="submit-btn">
                		<kendo-button  class="k-button"  ng-click="confirmMessage.close()">CANCEL</kendo-button>
					</li>	
        		</ul>
			</div>	
		</div>
		<!-- PDF PREVIEW  /////////////////////////////////////////////////////////////////-->
		 <div kendo-window="PDFPreview" k-options="PDFPreviewOptions"  k-rebind="PDFPreviewOptions"  k-ng-delay="PDFPreviewOptions" style="text-align: center">	
		</div>
        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div role="datagrid" class="grid-holder" >
			<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
			</kendo-grid >
		</div>
	</div>
</div>
<!--  GRID DETAIL TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="detail-template-Int-Dist" type="text/x-kendo-template" >
	
	<div class="gridDetail-wrapper">
		<div class="gridDetail-center" id="gridDetail-ID"></div>
	</div>
</script>

