
<div class="content-wrapper">
	<div class="content-holder" ng-controller="IntakeDistributionCtrl">
		<div class="title-holder">
			<span class="title">Intake Distribution</span>
		</div>

	<!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="changeDateRange()" role="form">
				<div class="filter-row-holder">
					<ul>
						<li class="title-small" style="width: 320px">
							Select an other received date range:
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >From:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()" k-ng-model="startingDate" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<span class="labelText-small" >to:</span> 
							<input kendo-date-picker k-on-change="enableSumbitBtn()"  k-ng-model="endingDate"  style="width: 180px"/>
						</li>
					</ul>
        		</div>
				<div class="filter-row-holder">
					<ul >
						<li style="width: 200px">
                			<span class="labelText-small" >Police Report:</span>
        					<select  style="width: 190px" kendo-multi-select k-ng-delay="rcTypeDataSource" ng-model="casesearch.rcType" k-placeholder="'Select Type'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="rcTypeDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li> 
                		<li  class="submit-btn" style="padding-top:20px">
                			<kendo-button ng-disabled="disabled" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>

	<!-- DAILY ASSIGNMENT WORKSHEET /////////////////////////////////////////////////////////////////-->
		<div class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul>
				<li class="linkButton toPrint" style="opacity: 0.5"><a>Print Labels</a></li>
				<li class="linkButton"><img src="assets/images/darkPipe.png" ></li>
				<li class="linkButton toEmail"><a href=""  ng-click="" >Email</a></li>
				<li class="linkButton teamHope"><a href=""  ng-click="" >Team Hope</a></li>
				<li class="linkButton clearinghouse"><a href="" id="clearinghouse" ng-click="confirmMessage.center().open()">Clearinghouses</a></li>
				<li class="linkButton">Distribute Intakes:</li>
			</ul>
		</div>

		 <div kendo-window="confirmMessage" k-options="confirmMessageOptions" style="text-align: center">
		 	<div class="large-window-title ">
				<span class="title-small" >Please confirm you want to distribute</span>
				<span class="title-small" >{{numCases}} {{recipient}}</span>
			</div>
			

			<div class="bottom-window">
				<ul>
					<li  class="submit-btn">
                		<kendo-button class="k-button" ng-click="confirmMessage.close()">SEND</kendo-button>
					</li>
					<li  class="submit-btn">
                		<kendo-button  class="k-button"  ng-click="confirmMessage.close()">CANCEL</kendo-button>
					</li>
						
        		</ul>
			</div>	
		</div>

        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div role="datagrid" class="grid-holder" >
			<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
			</kendo-grid >
		</div>
	</div>
</div>

<!--  GRID DETAIL TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="detail-template" type="text/x-kendo-template" >
	<div class="spacer" style="height: 10px"><br></div>
	<detail-row></detail-row>
</script>

<!--  NARRATIVE ROW TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="row-template" type="text/x-kendo-template" >
	<div id="detailRowTest">
		<ul data-uid="#: uid #" class="row-detail-info" >
			<li class="name" >Narrative Type: <span>#: narrativeType#</span></li>
			<li >Author:  <span>#: narrativeAuthor#</span> </li>
			<li >Narrative Date:  <span>#: narrativeDate#</span></li>
		</ul>
	</div>
	<div class="narrative-text-box" readonly><span>#: narrativeText#</span></div>
</script>
