
<div  ng-show="hasPermission('caseadmin:view:basic')" class="content-wrapper">
	<div class="content-holder" ng-controller="mediaCertDistribuCtrl">
		<div class="title-holder">
			<span class="title">Media Certification Distribution</span>
		</div>
		<!-- DATE RANGE ///////////////////////////////////////////////////////////////////////////////-->
		<div class="filter-holder" role="query-filter">
			<form name="dateRange-frm" ng-submit="submitSearch()" role="form" >
				<div class="filter-row-holder" style="padding-top:20px">
					<ul>
						<li style="width: 210px">
						 	<input type="radio" style="float: left; margin:6px" name="caseMediaSearchRadioOption" ng-model="casesearch.caseMediaSearchRadioOption" ng-change="handleRadioSelection()"  value="certifiedDate" id="certDateRange"/>
						 	<label for="certDateRange">Certitfied Date Range</label>
						</li>
						<li style="width: 220px">
						 	<input type="radio" style="float: left; margin:6px" name="caseMediaSearchRadioOption" ng-model="casesearch.caseMediaSearchRadioOption" ng-change="handleRadioSelection()"  value="restrictedDate" id="restrictedDateRange"/>
						 	<label for="restrictedDateRange">Restricted Date Range</label>
						</li>
						<li style="padding-right: 0px">
							<label >From:</label> 
							<input kendo-date-picker id="startingDate" k-on-change="enableSumbitBtn()" k-ng-model="startingDate" ng-disabled="disableDatePicker" style="width: 180px"/> 
						</li>
						<li style="padding-right: 0px">
							<label >To:</label> 
							<input kendo-date-picker id="endingDate" ng-disabled="disableDatePicker"  k-on-change="enableSumbitBtn()"  k-ng-model="endingDate"  style="width: 180px"/>
						</li>
					</ul>
				</div>

				<div class="filter-row-holder">
					<ul>
						<li style="width: 500px">
						 	<input type="radio" style="float: left; margin:6px" name="caseMediaSearchRadioOption" ng-model="casesearch.caseMediaSearchRadioOption" ng-change="handleRadioSelection()"  value="allUncertifiedAndUnrestricted" id="allCasesWithoutDate"/>
						 	<label for="allCasesWithoutDate">All Cases without Certified Date or Restricted Date</label>
						</li>
				
					</ul>
				</div>
				<div class="filter-row-holder">
					<ul >
						<li style="width: 140px">
                			<label >Case Type:</label>
        					<select kendo-drop-down-list style="width: 140px" k-ng-delay="frmSrchCaseTypeDataSource" ng-model="casesearch.frmSrchCaseType" k-placeholder="'Select Type'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseTypeDataSource" k-on-change="enableSumbitBtn()"></select>
                		</li> 

                		<li style="width: 160px">
							<label >Police Report:</label>
							<select kendo-drop-down-list style="width: 160px"  k-ng-delay="frmSrchCaseHasPoliceReportDataSource" ng-model="casesearch.frmSrchCaseHasPoliceReport" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseHasPoliceReportDataSource" k-on-change="enableSumbitBtn()"></select>
						</li> 

                		<li style="width: 160px">
                			<label >Case Media Status:</label>
        					<select kendo-drop-down-list style="width: 160px" k-ng-delay="frmSrchCaseMediaStatusDataSource" ng-model="casesearch.frmSrchCaseMediaStatus" k-placeholder="'Select Source'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseMediaStatusDataSource" k-on-change="enableSumbitBtn()" ></select>
                		</li>
                		<li style="width: 160px">
                			<label >Distributon Status:</label>
        					<select kendo-drop-down-list style="width: 160px" k-ng-delay="frmSrchCaseMediaDistributedStatusDataSource" ng-model="casesearch.frmSrchCaseMediaDistributedStatus" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseMediaDistributedStatusDataSource" k-on-change="enableSumbitBtn()" ></select>
                		</li>
                		<li style="width: 160px">
                			<label >Recipients:</label>
        					<select kendo-drop-down-list style="width: 160px" k-ng-delay="frmSrchCaseMediaDistributedToDataSource" ng-model="casesearch.frmSrchCaseMediaDistributedTo" k-placeholder="'Select Source'" k-data-text-field="'value'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="frmSrchCaseMediaDistributedToDataSource" k-on-change="enableSumbitBtn()" ></select>
                		</li>

                		<li  class="submit-btn" style="padding-top:25px">
                			<kendo-button ng-disabled="disableSubmit" ng-model="button" class="k-button submit-btn-txt">SUBMIT</kendo-button>
                		</li>
            		</ul>
               	</div> 	
			</form>
		</div>

		<!-- RESULT + EMAIL  /////////////////////////////////////////////////////////////////-->
		<div  class="row-holder title-small" style="padding: 0px 0 0px 0px">
			<span ng-class="warningClass"> {{warning}} </span>
			<ul ng-show="hasPermission('caseadmin:edit:intakedistribution')">
					<li class="linkButton toEmail"><a href=""  ng-class="buttonDisabledClass"  ng-click="confirmEmail()">Custom Email</a></li>
				<li class="linkButton"><img src="assets/images/darkPipe.png" ></li>
			
				<li class="linkButton toLEA"><a href=""  ng-class="buttonDisabledClass" ng-click="confirmLEA()">Send to LEA</a></li>
				<li class="linkButton toPG"><a href=""  ng-class="buttonDisabledClass" id="clearinghouse" ng-click="confirmPG()">Send to Parent/Guardian</a></li>
			
			</ul>
		</div>
		
        <!-- DATA GRID /////////////////////////////////////////////////////////////////-->
		<div id="datagrid" role="datagrid" class="grid-holder" >
			<kendo-grid k-options="mainGridOptions" k-rebind="mainGridOptions" id="grid"  k-ng-delay="mainGridOptions">
			</kendo-grid >
		</div>
	</div>
</div>

<div ng-show="!hasPermission('caseadmin:view:basic')" class="content-wrapper">
	 You do not have permission to view this page. Please check with administrator
</div>

<!--  GRID DETAIL TEMPLATE /////////////////////////////////////////////////////////////////-->

<script id="detail-template-Med-Cer-Dist" type="text/x-kendo-template" >
	<div class="spacer" style="height: 10px"><br></div>
	<div id="gridDetail-MCD"></div>
	<div id="narrative-MCD"></div>
	<div class="spacer" style="height: 10px"><br></div>	
</script>

<!--  NARRATIVE ROW TEMPLATE /////////////////////////////////////////////////////////////////-->
<script id="row-template-Med-Cer-Dist" type="text/x-kendo-template" >
	<div id="detailRowMCD">
		<ul data-uid="#: uid #" class="row-detail-info" >
			<li class="name" >Narrative Type: <span>#: narrativeType#</span></li>
			<li >Author:  <span>#: narrativeAuthor#</span> </li>
			<li >Narrative Date:  <span>#: narrativeDate#</span></li>
		</ul>
	</div>
	<textarea  class="narrative-text-box" readonly >#: narrativeText#</textarea >
</script>
